{% for product in products %}

<div><span>{{ product.name }}</span>: <b>{{ product.price }}</b><a href="/products/{{ product.id }}">show</a></div>

<div class="n-snippet-cell2 i-bem b-zone b-spy-visible n-snippet-cell2_type_product b-spy-visible_js_inited b-zone_js_inited n-snippet-cell2_js_inited"
     data-id="model-14206836"
     data-bem="{&quot;n-snippet-cell2&quot;:{&quot;context&quot;:&quot;search&quot;,&quot;type&quot;:&quot;model&quot;,&quot;modelId&quot;:14206836,&quot;entity&quot;:&quot;product&quot;},&quot;b-zone&quot;:{&quot;name&quot;:&quot;snippet-cell2&quot;,&quot;data&quot;:{&quot;isCpa20&quot;:false,&quot;id&quot;:14206836}},&quot;b-spy-visible&quot;:&quot;&quot;}">
    <a class="n-snippet-cell2__image link i-bem link_js_inited"
       href="/product/14206836?show-uid=268241481577247258816001&amp;nid=56179&amp;context=search"
       title="Наушники Apple AirPods"><img class="image"
                                           src="//avatars.mds.yandex.net/get-mpic/175985/img_id6526000481435545741/6hq"
                                           title="Наушники Apple AirPods"
                                           alt="Наушники Apple AirPods"
                                           srcset="//avatars.mds.yandex.net/get-mpic/175985/img_id6526000481435545741/9hq 1.5x"></a>
    <div class="n-snippet-cell2__header">
        <div class="n-snippet-cell2__title"><a class="link n-link_theme_blue i-bem link_js_inited"
                                               href="/product/14206836?show-uid=268241481577247258816001&amp;nid=56179&amp;context=search"
                                               title="{{ product.name }}">{{ product.name }}</a></div>
    </div>
    <div class="n-snippet-cell2__body">
        <div class="n-snippet-cell2__price">
            <div class="n-snippet-cell2__main-price"><a
                    class="link n-smart-link i-bem n-smart-link_js_inited link_js_inited"
                    href="/product/14206836/offers?show-uid=268241481577247258816001&amp;onstock=1&amp;local-offers-first"
                    data-bem="{&quot;n-smart-link&quot;:{&quot;subscriptions&quot;:[&quot;filters&quot;]}}">
                <div class="price">{{ product.price }} &nbsp;₽</div>
            </a></div>
            <div class="n-snippet-cell2__sub-price">
                <div class="price price_unactual_yes"><span class="price price_unactual_yes">11 650&nbsp;₽</span>
                </div>
            </div>
            <div class="n-snippet-cell2__price-stickers stickers i-bem stickers_js_inited">
                <div class="stickers__sticker stickers__sticker_type_discount">−9%</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="n-snippet-cell2 i-bem b-zone b-spy-visible n-snippet-cell2_type_product b-spy-visible_js_inited b-zone_js_inited n-snippet-cell2_js_inited"
     data-id="model-14206836"
     data-bem="{&quot;n-snippet-cell2&quot;:{&quot;context&quot;:&quot;search&quot;,&quot;type&quot;:&quot;model&quot;,&quot;modelId&quot;:14206836,&quot;entity&quot;:&quot;product&quot;},&quot;b-zone&quot;:{&quot;name&quot;:&quot;snippet-cell2&quot;,&quot;data&quot;:{&quot;isCpa20&quot;:false,&quot;id&quot;:14206836}},&quot;b-spy-visible&quot;:&quot;&quot;}">
    <div class="n-snippet-cell2__hover">
        <div class="n-snippet-cell2__toolbar">
            <div class="n-product-toolbar i-bem  n-product-toolbar_label_no n-product-toolbar_js_inited"
                 data-bem="{&quot;n-product-toolbar&quot;: {}}"><a
                    class="n-product-toolbar__item link link_theme_minor wishlist-control wishlist-control_type_toggle pseudo-checkbox hint b-zone b-spy-events i-bem pseudo-checkbox_js_inited hint_js_inited wishlist-control_js_inited metrika_js_inited"
                    data-bem="{&quot;wishlist-control&quot;:{&quot;item&quot;:{&quot;type&quot;:&quot;model&quot;,&quot;itemId&quot;:&quot;14206836&quot;,&quot;hid&quot;:&quot;90555&quot;,&quot;displayName&quot;:&quot;Наушники Apple AirPods&quot;,&quot;modelId&quot;:&quot;14206836&quot;,&quot;addSign&quot;:true},&quot;image&quot;:{&quot;url&quot;:&quot;//avatars.mds.yandex.net/get-mpic/175985/img_id6526000481435545741/2hq&quot;}},&quot;hint&quot;:{&quot;to&quot;:&quot;top&quot;,&quot;content&quot;:&quot;Добавить&nbsp;в&nbsp;отложенные&quot;},&quot;pseudo-checkbox&quot;:&quot;&quot;,&quot;metrika&quot;:&quot;&quot;,&quot;b-zone&quot;:{&quot;name&quot;:&quot;to-wishlist&quot;}}"><i
                    class="image image_name_favorite"></i><i
                    class="image image_name_favorite-activated"></i><span
                    class="n-product-toolbar__item-label n-product-toolbar__item-label_activated_no">Отложить</span><span
                    class="n-product-toolbar__item-label n-product-toolbar__item-label_activated_yes">Отложено</span>
                <div class="popup2 popup2_target_anchor popup2_autoclosable_yes popup2_theme_normal tooltip tooltip_size_xs tooltip_theme_normal tooltip_autoclosable_yes hint__tooltip i-bem tooltip_js_inited"
                     data-bem="{&quot;popup2&quot;:{&quot;mainOffset&quot;:10,&quot;directions&quot;:[&quot;top-center&quot;]}}">
                    <div class="popup2__tail"></div>
                    <div class="tooltip__content">Добавить&nbsp;в&nbsp;отложенные</div>
                </div>
            </a>
                <div class="n-product-toolbar__item link link_theme_minor hint n-user-lists_type_compare i-bem n-user-lists_type_compare_in-list_no n-user-lists_type_compare_js_inited"
                     data-bem="{&quot;n-user-lists_type_compare&quot;:{&quot;id&quot;:&quot;14206836&quot;,&quot;name&quot;:&quot;Наушники Apple AirPods&quot;,&quot;hid&quot;:&quot;90555&quot;,&quot;catname&quot;:&quot;Наушники и Bluetooth-гарнитуры&quot;,&quot;image&quot;:{&quot;url&quot;:&quot;//avatars.mds.yandex.net/get-mpic/175985/img_id6526000481435545741/2hq&quot;},&quot;link&quot;:&quot;/compare?track=rmmbr&quot;,&quot;inComparison&quot;:false},&quot;hint&quot;:{&quot;to&quot;:&quot;top&quot;}}">
                    <i class="image image_name_compare"></i><i
                        class="image image_name_compare-in-list"></i><span
                        class="n-product-toolbar__item-label n-product-toolbar__item-label_activated_no">Сравнить</span><span
                        class="n-product-toolbar__item-label n-product-toolbar__item-label_activated_yes">В сравнении</span>
                </div>
            </div>
        </div>
    </div>
    <div class="n-snippet-cell2__stickers">
        <div class="n-reasons-to-buy n-reasons-to-buy_type_recommend b-zone b-spy-visible i-bem n-reasons-to-buy_tag_recommend n-reasons-to-buy_js_inited b-spy-visible_js_inited b-zone_js_inited"
             data-bem="{&quot;n-reasons-to-buy&quot;:&quot;&quot;,&quot;b-spy-visible&quot;:&quot;&quot;,&quot;b-zone&quot;:{&quot;name&quot;:&quot;reason-to-buy&quot;,&quot;data&quot;:{&quot;entity&quot;:&quot;product&quot;,&quot;id&quot;:14206836,&quot;taggedEntity&quot;:&quot;recommend&quot;}}}">
            <div class="n-reasons-to-buy__content"><span class="n-reasons-to-buy__label">Выбор покупателей</span>
                <div data-bem="{&quot;popup&quot;:{&quot;directions&quot;:{&quot;to&quot;:&quot;bottom&quot;,&quot;axis&quot;:&quot;left&quot;,&quot;offset&quot;:{&quot;top&quot;:5},&quot;tail&quot;:{&quot;offset&quot;:{&quot;left&quot;:-40}}}}}"
                     class="popup  i-bem  popup_autoclosable_yes  popup_adaptive_yes  popup_animate_yes  popup_theme_info  popup_type_reasons-to-buy popup_js_inited">
                    <div class="popup__under  "></div>
                    <i class="popup__tail"></i>
                    <div class="popup__content">Больше 80% покупателей советуют купить этот товар в
                        своих отзывах на Маркете.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="n-snippet-cell2__image link i-bem link_js_inited"
       href="/product/14206836?show-uid=268241481577247258816001&amp;nid=56179&amp;context=search"
       title="Наушники Apple AirPods"><img class="image"
                                           src="//avatars.mds.yandex.net/get-mpic/175985/img_id6526000481435545741/6hq"
                                           title="Наушники Apple AirPods"
                                           alt="Наушники Apple AirPods"
                                           srcset="//avatars.mds.yandex.net/get-mpic/175985/img_id6526000481435545741/9hq 1.5x"></a>
    <div class="n-snippet-cell2__header">
        <div class="n-snippet-cell2__title"><a class="link n-link_theme_blue i-bem link_js_inited"
                                               href="/product/14206836?show-uid=268241481577247258816001&amp;nid=56179&amp;context=search"
                                               title="Наушники Apple AirPods">Наушники Apple
            AirPods</a></div>
    </div>
    <div class="n-snippet-cell2__body">
        <div class="n-snippet-cell2__price">
            <div class="n-snippet-cell2__main-price"><a
                    class="link n-smart-link i-bem n-smart-link_js_inited link_js_inited"
                    href="/product/14206836/offers?show-uid=268241481577247258816001&amp;onstock=1&amp;local-offers-first"
                    data-bem="{&quot;n-smart-link&quot;:{&quot;subscriptions&quot;:[&quot;filters&quot;]}}">
                <div class="price">10 550&nbsp;₽</div>
            </a></div>
            <div class="n-snippet-cell2__sub-price">
                <div class="price price_unactual_yes"><span class="price price_unactual_yes">11 650&nbsp;₽</span>
                </div>
            </div>
            <div class="n-snippet-cell2__price-stickers stickers i-bem stickers_js_inited">
                <div class="stickers__sticker stickers__sticker_type_discount">−9%</div>
            </div>
        </div>
        <a class="n-snippet-card2__rating link link_theme_gray link_type_reviews i-bem link_js_inited"
           href="/product/14206836/reviews?track=srchlink&amp;show-uid=268241481577247258816001">
            <div class="rating hint i-bem rating_outline_yes" date-rate="5"
                 data-bem="{&quot;hint&quot;:{&quot;content&quot;:&quot;Рейтинг&nbsp;модели&nbsp;4.5&nbsp;из&nbsp;5&quot;,&quot;offset&quot;:15}}">
                <div class="rating__value">4.5</div>
                <div class="rating__corner">
                    <div class="rating__triangle"></div>
                </div>
            </div>
            <span>191 отзыв</span></a>
        <div class="n-snippet-cell2__reasons-to-buy-item">
            <div class="n-reasons-to-buy n-reasons-to-buy_type_best b-zone b-spy-visible i-bem n-reasons-to-buy_tag_best n-reasons-to-buy_js_inited b-spy-visible_js_inited b-zone_js_inited"
                 data-bem="{&quot;n-reasons-to-buy&quot;:&quot;&quot;,&quot;b-spy-visible&quot;:&quot;&quot;,&quot;b-zone&quot;:{&quot;name&quot;:&quot;reason-to-buy&quot;,&quot;data&quot;:{&quot;entity&quot;:&quot;product&quot;,&quot;id&quot;:14206836,&quot;taggedEntity&quot;:&quot;best&quot;}}}">
                <div class="n-reasons-to-buy__content"><span class="n-reasons-to-buy__label">Покупателям нравится <span
                        class="n-reason-to-buy__best-item">Качество сборки</span>, <span
                        class="n-reason-to-buy__best-item">эргономика</span></span>
                    <div data-bem="{&quot;popup&quot;:{&quot;directions&quot;:{&quot;to&quot;:&quot;bottom&quot;,&quot;axis&quot;:&quot;left&quot;,&quot;tail&quot;:{&quot;axis&quot;:&quot;left&quot;}}}}"
                         class="popup  i-bem  popup_autoclosable_yes  popup_adaptive_yes  popup_animate_yes  popup_theme_info  popup_type_reasons-to-buy popup_js_inited">
                        <div class="popup__under  "></div>
                        <i class="popup__tail"></i>
                        <div class="popup__content">Характеристики, которые покупатели отметили
                            высокой оценкой в отзывах
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="n-snippet-cell2__more-prices-link"><a
                class="link n-link_theme_blue link_type_prices i-bem link_js_inited"
                href="/product/14206836/offers?track=srchbtn&amp;show-uid=268241481577247258816001">152&nbsp;предложения</a>
            от&nbsp;<span class="price">10 070&nbsp;₽</span></div>
        <div class="n-snippet-cell2__reasons-to-buy-item">
            <div class="n-reasons-to-buy n-reasons-to-buy_type_interest-simple b-zone b-spy-visible i-bem n-reasons-to-buy_tag_interest n-reasons-to-buy_js_inited b-spy-visible_js_inited b-zone_js_inited"
                 data-bem="{&quot;n-reasons-to-buy&quot;:&quot;&quot;,&quot;b-spy-visible&quot;:&quot;&quot;,&quot;b-zone&quot;:{&quot;name&quot;:&quot;reason-to-buy&quot;,&quot;data&quot;:{&quot;entity&quot;:&quot;product&quot;,&quot;id&quot;:14206836,&quot;taggedEntity&quot;:&quot;interest&quot;}}}">
                <div class="n-reasons-to-buy__content"><span class="n-reasons-to-buy__label">8&nbsp;001 человек купили этот товар</span>
                    <div data-bem="{&quot;popup&quot;:{&quot;directions&quot;:{&quot;to&quot;:&quot;bottom&quot;,&quot;axis&quot;:&quot;left&quot;,&quot;tail&quot;:{&quot;axis&quot;:&quot;left&quot;}}}}"
                         class="popup  i-bem  popup_autoclosable_yes  popup_adaptive_yes  popup_animate_yes  popup_theme_info  popup_type_reasons-to-buy popup_js_inited">
                        <div class="popup__under  "></div>
                        <i class="popup__tail"></i>
                        <div class="popup__content">По данным Яндекс.Маркета за 2 месяца.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>